# List is container that contains editable data

In [ ]:
l1 = ['Ahmmed', 'Abduallah', 25, ['Lebanon', 5], 1-5j, True]
l1

In [ ]:
l2 = [['a',10],['b',20]]
l2

In [ ]:
l3 = list('I am Mohammed')
l3

In [ ]:
'I am Mohammed'.split(sep = ' ')

In [ ]:
[a,b,c,d] = 'a'*4
a

In [ ]:
b

In [ ]:
l3 = 'aa'*10
l3

In [ ]:
l1[0]

In [ ]:
l1[:3]

In [ ]:
l1[:-2]

In [ ]:
l1[3][1]

In [ ]:
l1[::-1]

In [ ]:
l4 = [1,2,3,4,5,6,7,8,9]
l4

In [ ]:
l4[:3]

In [ ]:
l4[:3] = 10,11,12
l4

### To delete elements from list with multi specific places (places > 1)

In [ ]:
l4[:3] = []
l4

### To delete all elements from list

In [ ]:
l4 = []
l4

# del

In [ ]:
l5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'i', 'j', 'k', 'k']
l6 = l5.copy() # if do l6 = l5 then l6 will be reference to l5 and each diferance on l5 will apply on l6
l5

In [ ]:
del l5[2:-3]
l5

In [ ]:
del l5

In [ ]:
l6

# delete first element equal to specific value

In [ ]:
l6.remove('k')
l6

# concatination lists

In [ ]:
l7 = [1,2,3,4]
l8 = [5,6,7,8,9,10]
l9 = l7 + l8
l9

In [ ]:
l7*3

In [ ]:
l10 = [['a', 'b']*4]*6
l10

# length of list

In [ ]:
len(l10)

In [ ]:
len(l7)

# Sum of list

In [ ]:
sum(l7)

In [ ]:
l11 = [[2]*4]*6
l11

In [ ]:
sum(l11[0])

In [ ]:
sum([sum(r) for r in l11])

# Max and Min

In [ ]:
max(l9)

In [ ]:
max(l11)

In [ ]:
l12 = [[1,10,5],[10,0,0]]
l12

In [ ]:
max(l12)  # it will take first element if equal then take second element

In [ ]:
min(l12)

In [ ]:
min(l11)

In [ ]:
min(l9)

In [ ]:
max(l6)

In [ ]:
min(l6)

In [ ]:
l13 = ['x', 'y', 't', 'k', '5', '6']
l13

In [ ]:
min(l13)

In [ ]:
max(l13)

# Sort list

In [ ]:
sorted(l13)

In [ ]:
sorted(l13, reverse=True)

In [ ]:
l13.sort()
l13

In [ ]:
l13.sort(reverse=True)
l13

# Sort with specific rank

In [ ]:
l14 = [['Taha','Abo Loai', 32], 
       ['Hammad','Abo Zeid', 30], 
       ['Ahmmed','Abo Azzam', 25], 
       ['Mohammed','Abo Osama', 27]]
l14

In [ ]:
print(sorted(l14, key = lambda f:f[0] ))

In [ ]:
print(sorted(l14, key = lambda f:f[1] ))

In [ ]:
print(sorted(l14, key = lambda f:f[2] ))

In [ ]:
print(sorted(l14, reverse = True,  key = lambda f:f[0] ))

In [ ]:
cars = [
    {
        "model": "Ford T",
        "price": 2000
    },
    {
        "model": "Ford F150",
        "price": 25000
    },
    {
        "model": "Ford Focus",
        "price": 12000
    },
    {
        "model": "Ford Focus 2",
        "price": None
    },
]
cars

In [ ]:
print (sorted(cars, key = lambda i: i['model']))

In [ ]:
print (sorted(cars, key = lambda i: i['price']!= None ))

# in

In [ ]:
print({
        "model": "Ford T",
        "price": 2000
    } in cars)

In [ ]:
l15 = [1,2,3,4]
l15

In [ ]:
5 in l15

In [ ]:
2 in l15

# extend

In [ ]:
l16 = ['Ahmmed', 'Abduallah', 'aa', 'bb']
l16

In [ ]:
l15.extend(l16)
l15

In [ ]:
l16

# append

In [ ]:
l17 = [1,2,3,4,5,6]
l17

In [ ]:
l17.append(20)  # adding to the end of list
l17

# insert

In [ ]:
l17.insert(2, 100)  # adding 100 in index 2 in the list
l17

In [ ]:
l17.insert(5, 'Mohammed') 
l17

In [ ]:
l17.insert(2, ['True', True]) 
l17

# count

In [ ]:
l18 = [1,5,'Ahmmed', 'Mohammed', True, 5,'Ahmmed']
l18

In [ ]:
l18.count(2)

In [ ]:
l18.count('Ahmmed') # 1 and True

In [ ]:
l18.count(True)

In [ ]:
l19 = [1] # 1 equal to True
l19

In [ ]:
l19.count(True)

In [ ]:
l20 = [10, 0,1000, "Taha", False, 'mm','ff','dd', True, ['aa', 'xx']]
l20

In [ ]:
l20.count(False) # 0 and False

# index

In [ ]:
l20.index('Taha')

In [ ]:
l20.index(False)

In [ ]:
l20.index(False, 2) # start searching from 2 index to end

In [ ]:
l20.index(False, 2,7) # start searching from 2 index to 7 index

# reverse

In [ ]:
l20.reverse()
l20

# pop

In [ ]:
l20[-1]

In [ ]:
l20.pop() # remove last element from the list
l20

In [ ]:
l20[-1]

In [ ]:
l20[5]

In [ ]:
l20.pop(5) # remove element with index 5 from the list
l20

In [ ]:
l20[5]

In [ ]:
l20.pop(-2)
l20

# range

In [ ]:
l21 = range(20)
l21

In [ ]:
type(l21)

In [ ]:
l22 = list(range(30))
l22

In [ ]:
type(l22)

In [ ]:
l23 = list(range(60,80))
l23

In [ ]:
l24 = list(range(200,210,2))
l24

In [ ]:
l25 = list(range(210,178,-2))
l25

In [ ]:
l26 = [e**2 for e in range(20)]
l26

In [ ]:
import math

In [ ]:
math.sqrt(289)

In [ ]:
l27 = [e**3 for e in range(10)]
l27

# map

### map(func, *iterables) --> map object

### Make an iterator that computes the function using arguments from
### each of the iterables.  Stops when the shortest iterable is exhausted.

In [ ]:
l28 = list(map(lambda e : e**3, range(10)))
l28

In [ ]:
l29 = [x + 3 - y for x in range(10) for y in range(10) if y > x]
l29

In [ ]:
l30 = [[(2**i)*j for i in range(5)] for j in range(6,11)]
l30

In [ ]:
l31 = [[10 for i in range(10)] for j in range(10)]
l31

# iter

In [ ]:
l32 = iter(['Ahmmed', 'Mohammed', 'Hammad', 'Taha'])
l32

In [ ]:
next(l32)

In [ ]:
next(l32)

In [ ]:
next(l32)

In [ ]:
next(l32)

In [ ]:
l32 = iter(['Ahmmed', 'Mohammed', 'Hammad', 'Taha'])
for i in range(4):
    for j in next(l32):
        print(j)
    print('\n')

# enumerate

In [ ]:
l33 = ['Ahmmed', 'Mohammed', 'Hammad', 'Taha']
l33

In [ ]:
for c, v in enumerate(l33): #enumerate(iterable, start=0)
    print(c, v)

In [ ]:
for c, v in enumerate(l33, start = 3119): #enumerate(iterable, start=0)
    print(c, v)

# zip

#### zip(list1, list2, list3,.............)

In [ ]:
names = l33.copy()
ages = [25, 27, 30,32]
print(names)
print(ages)

In [ ]:
for name, age in zip(names, ages):
    print(name, age)

In [ ]:
list(zip('abcdefg', range(3), range(4)))

In [ ]:
degrees = ['prep', 'Bachelor\'s', 'licensing', 'prep']
degrees

In [ ]:
for name, age, degree in zip(names, ages, degrees):
    print(name, age, degree)

# itemgetter

In [ ]:
from operator import itemgetter

In [ ]:
itemgetter(2)

In [ ]:
employees = [
    ('Ahmmed', 'Ali', 25),
    ('Sami', 'Jaqub', 25),
    ('Sami', 'Ali', 25),
    ('Osama', 'Mohammed', 22),
    ('Mona', 'Mohammed', 22),
    ('Saeed', 'Moseeb', 40),
    ('Taha', 'Abduallah', 32)
]
employees

In [ ]:
sorted(employees, key = itemgetter(2))

In [ ]:
sorted(employees, key = itemgetter(2,0))

In [ ]:
sorted(employees, key = itemgetter(2,0,1))

# methodcaller

In [ ]:
from operator import methodcaller

In [ ]:
sorted(names, key = methodcaller('count', 'a'))