# Tuple can not editable or remove from it

In [1]:
t1 = (1,2,3,4)
t1

(1, 2, 3, 4)

In [2]:
max(t1)

4

In [3]:
min(t1)

1

In [4]:
t2 = ('ahmmed','mohammed','sammer')
t2

('ahmmed', 'mohammed', 'sammer')

In [5]:
max(t2)

'sammer'

In [6]:
min(t2)

'ahmmed'

In [7]:
l1 = list(t1)
l1

[1, 2, 3, 4]

In [8]:
l1.append(5)
l1

[1, 2, 3, 4, 5]

In [9]:
t3 = tuple(l1)
t3

(1, 2, 3, 4, 5)

In [10]:
l2 = [('Taha','Abo Loai', 32), 
       ('Hammad','Abo Zeid', 30), 
       ('Ahmmed','Abo Azzam', 25), 
       ('Mohammed','Abo Osama', 27)]
l2

[('Taha', 'Abo Loai', 32),
 ('Hammad', 'Abo Zeid', 30),
 ('Ahmmed', 'Abo Azzam', 25),
 ('Mohammed', 'Abo Osama', 27)]

In [11]:
sorted(l2, key = lambda i : i[0])

[('Ahmmed', 'Abo Azzam', 25),
 ('Hammad', 'Abo Zeid', 30),
 ('Mohammed', 'Abo Osama', 27),
 ('Taha', 'Abo Loai', 32)]

# map

In [12]:
t4 = tuple(map(lambda e : e**3, range(10)))
t4

(0, 1, 8, 27, 64, 125, 216, 343, 512, 729)

In [13]:
t5 = tuple(tuple(6 for i in range(5)) for j in range(5))
t5

((6, 6, 6, 6, 6),
 (6, 6, 6, 6, 6),
 (6, 6, 6, 6, 6),
 (6, 6, 6, 6, 6),
 (6, 6, 6, 6, 6))

# iter

In [14]:
t6 = iter(('Ahmmed', 'Mohammed', 'Hammad', 'Taha'))
t6

In [15]:
next(t6)

'Ahmmed'

# enumerate

In [16]:
t7 = ('Ahmmed', 'Mohammed', 'Hammad', 'Taha')
t7

('Ahmmed', 'Mohammed', 'Hammad', 'Taha')

In [17]:
for name in enumerate(t7):
    print(name)

(0, 'Ahmmed')
(1, 'Mohammed')
(2, 'Hammad')
(3, 'Taha')

In [18]:
for name in enumerate(t7, start = 600):
    print(name)

(600, 'Ahmmed')
(601, 'Mohammed')
(602, 'Hammad')
(603, 'Taha')

In [19]:
names = ('Ahmmed', 'Mohammed', 'Hammad', 'Taha')
ages = (25, 27, 30,32)
print(names)
print(ages)

('Ahmmed', 'Mohammed', 'Hammad', 'Taha')
(25, 27, 30, 32)

In [20]:
for name, age in zip(names, ages):
    print(name, age)

Ahmmed 25
Mohammed 27
Hammad 30
Taha 32

In [21]:
st = 'abcdefg'
tuple(zip(st, range(len(st)), range(len(st))))

(('a', 0, 0),
 ('b', 1, 1),
 ('c', 2, 2),
 ('d', 3, 3),
 ('e', 4, 4),
 ('f', 5, 5),
 ('g', 6, 6))

# itemgetter

In [22]:
from operator import itemgetter

In [23]:
employees = (
    ('Ahmmed', 'Ali', 25),
    ('Sami', 'Jaqub', 25),
    ('Sami', 'Ali', 25),
    ('Osama', 'Mohammed', 22),
    ('Mona', 'Mohammed', 22),
    ('Saeed', 'Moseeb', 40),
    ('Taha', 'Abduallah', 32)
)
employees

(('Ahmmed', 'Ali', 25),
 ('Sami', 'Jaqub', 25),
 ('Sami', 'Ali', 25),
 ('Osama', 'Mohammed', 22),
 ('Mona', 'Mohammed', 22),
 ('Saeed', 'Moseeb', 40),
 ('Taha', 'Abduallah', 32))

In [24]:
sorted(employees, key = itemgetter(1,2,0))

[('Taha', 'Abduallah', 32),
 ('Ahmmed', 'Ali', 25),
 ('Sami', 'Ali', 25),
 ('Sami', 'Jaqub', 25),
 ('Mona', 'Mohammed', 22),
 ('Osama', 'Mohammed', 22),
 ('Saeed', 'Moseeb', 40)]