# for loop

In [1]:
for e in range(10):
    print(e**2)

0
1
4
9
16
25
36
49
64
81

In [2]:
[(x, y) for x in range(1,5) for y in range(6,10) if x != y ]

[(1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9)]

In [3]:
alpha = 'abcdefghijklmnopqrstuvwxyz'
len(alpha)

26

In [4]:
reverse_alpha = ''
for i in range(len(alpha)):
    reverse_alpha += alpha[len(alpha) -1 -i]
reverse_alpha

'zyxwvutsrqponmlkjihgfedcba'

In [5]:
len(reverse_alpha)

26

# continue

In [6]:
for i in range(20):
    if i % 2 !=0:
        continue
    else:
        print(i)

0
2
4
6
8
10
12
14
16
18

In [7]:
d1 = {'k'+str(i):i**2 for i in range(7,20)}
d1

{'k7': 49,
 'k8': 64,
 'k9': 81,
 'k10': 100,
 'k11': 121,
 'k12': 144,
 'k13': 169,
 'k14': 196,
 'k15': 225,
 'k16': 256,
 'k17': 289,
 'k18': 324,
 'k19': 361}

In [8]:
for i in d1:
    print(i)

k7
k8
k9
k10
k11
k12
k13
k14
k15
k16
k17
k18
k19

In [9]:
for i in d1.keys():
    print(i)

k7
k8
k9
k10
k11
k12
k13
k14
k15
k16
k17
k18
k19

In [10]:
for i in d1.values():
    print(i)

49
64
81
100
121
144
169
196
225
256
289
324
361

In [11]:
for i in d1.items():
    print(i)

('k7', 49)
('k8', 64)
('k9', 81)
('k10', 100)
('k11', 121)
('k12', 144)
('k13', 169)
('k14', 196)
('k15', 225)
('k16', 256)
('k17', 289)
('k18', 324)
('k19', 361)

In [12]:
for k,v in d1.items():
    print(k,'\t', v)
    print('------------')

k7 	 49
------------
k8 	 64
------------
k9 	 81
------------
k10 	 100
------------
k11 	 121
------------
k12 	 144
------------
k13 	 169
------------
k14 	 196
------------
k15 	 225
------------
k16 	 256
------------
k17 	 289
------------
k18 	 324
------------
k19 	 361
------------